/******************************
.nav-el.active anim
******************************/
@keyframes fx-el_topleft-active {
  0% {
    transform: translate3d(0%, 0%, 0);
  }

  33% {
    transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  40% {
    transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  50% {
    color: white;
  }

  100% {
    transform: translate3d(5%, 5%, 0) scale(20);
    color: white;
  }
}

@keyframes fx-el_topright-active {
  0% {
    transform: translate3d(0%, 0%, 0);
  }

  33% {
    transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  40% {
    transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  50% {
    color: white;
  }

  100% {
    transform: translate3d(-5%, 5%, 0) scale(20);
    color: white;
  }
}


@-moz-keyframes fx-el_topleft-active {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
  }

  33% {
    -moz-transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  40% {
    -moz-transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  50% {
    color: white;
  }

  100% {
    -moz-transform: translate3d(5%, 5%, 0) scale(20);
    color: white;
  }
}

@-moz-keyframes fx-el_topright-active {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
  }

  33% {
    -moz-transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  40% {
    -moz-transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  50% {
    color: white;
  }

  100% {
    -moz-transform: translate3d(-5%, 5%, 0) scale(20);
    color: white;
  }
}


@-webkit-keyframes fx-el_topleft-active {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  33% {
    -webkit-transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  40% {
    -webkit-transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  50% {
    color: white;
  }

  100% {
    -webkit-transform: translate3d(5%, 5%, 0) scale(20);
    color: white;
  }
}

@-webkit-keyframes fx-el_topright-active {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  33% {
    -webkit-transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  40% {
    -webkit-transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  50% {
    color: white;
  }

  100% {
    -webkit-transform: translate3d(-5%, 5%, 0) scale(20);
    color: white;
  }
}


#el-topleft.active {
  animation: fx-el_topleft-active 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topleft-active 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topleft-active 1.6s 1 ease-in-out forwards;
}

#el-topright.active {
  animation: fx-el_topright-active 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topright-active 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topright-active 1.6s 1 ease-in-out forwards;
}



/******************************
.nav-el.inactive anim
******************************/
@keyframes fx-el_topleft-inactive {
  0% {
    transform: translate(0%, 0%);
    
  }

  33% {
    transform: translate(5.3%, 5.3%);
    color: white;;
  }

  100% {
    transform: translate(5.3%, 5.3%);
    color: white;;
  }
}

@keyframes fx-el_topright-inactive {
  0% {
    transform: translate(0%, 0%);
    
  }

  33% {
    transform: translate(-5.3%, 5.3%);
    color: white;;
  }

  100% {
    transform: translate(-5.3%, 5.3%);
    color: white;;
  }
}


@-moz-keyframes fx-el_topright-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
    
  }

  33% {
    -moz-transform: translate3d(-5.3%, 5.3%, 0);
    color: white;;
  }

  100% {
    -moz-transform: translate3d(-5.3%, 5.3%, 0);
    color: white;;
  }
}


@-webkit-keyframes fx-el_topleft-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
    
  }

  33% {
    -webkit-transform: translate3d(5.3%, 5.3%, 0);
    color: white;;
  }

  100% {
    -webkit-transform: translate3d(5.3%, 5.3%, 0);
    color: white;;
  }
}

@-webkit-keyframes fx-el_topright-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
    
  }

  33% {
    -webkit-transform: translate3d(-5.3%, 5.3%, 0);
    color: white;;
  }

  100% {
    -webkit-transform: translate3d(-5.3%, 5.3%, 0);
    color: white;;
  }
}



#el-topleft.inactive {
  animation: fx-el_topleft-inactive 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topleft-inactive 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topleft-inactive 1.6s 1 ease-in-out forwards;
}

#el-topright.inactive {
  animation: fx-el_topright-inactive 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topright-inactive 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topright-inactive 1.6s 1 ease-in-out forwards;
}



/******************************
.nav-el.active reverse
******************************/
@keyframes fx-el_topleft-active_reverse {
  0% {
    transform: translate3d(5%, 5%, 0) scale(20);
    color: white;
   
  }

  50% {
    color: white;
   
  }

  60% {
    transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  67% {
    transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  82% {
    background-color: rgba(255,255,255,0)!important;
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

@keyframes fx-el_topright-active_reverse {
  0% {
    transform: translate3d(-5%, 5%, 0) scale(20);
    color: white;
   
  }

  50% {
    color: white;
   
  }

  60% {
    transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  67% {
    transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  82% {
    background-color: rgba(255,255,255,0)!important;
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}



@-moz-keyframes fx-el_topleft-active_reverse {
  0% {
    -moz-transform: translate3d(5%, 5%, 0) scale(20);
    color: white;
   
  }

  50% {
    color: white;
   
  }

  60% {
    -moz-transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  67% {
    -moz-transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  82% {
    background-color: rgba(255,255,255,0)!important;
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
  }
}

@-moz-keyframes fx-el_topright-active_reverse {
  0% {
    -moz-transform: translate3d(-5%, 5%, 0) scale(20);
    color: white;
   
  }

  50% {
    color: white;
   
  }

  60% {
    -moz-transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  67% {
    -moz-transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  82% {
    background-color: rgba(255,255,255,0)!important;
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
  }
}


@-webkit-keyframes fx-el_topleft-active_reverse {
  0% {
    -webkit-transform: translate3d(5%, 5%, 0) scale(20);
    color: white;
   
  }

  50% {
    color: white;
   
  }

  60% {
    -webkit-transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  67% {
    -webkit-transform: translate3d(5%, 5%, 0) scale(1);
    
  }

  82% {
    background-color: rgba(255,255,255,0)!important;
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }
}

@-webkit-keyframes fx-el_topright-active_reverse {
  0% {
    -webkit-transform: translate3d(-5%, 5%, 0) scale(20);
    color: white;
   
  }

  50% {
    color: white;
   
  }

  60% {
    -webkit-transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  67% {
    -webkit-transform: translate3d(-5%, 5%, 0) scale(1);
    
  }

  82% {
    background-color: rgba(255,255,255,0)!important;
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }
}



#el-topleft.active_reverse {
  animation: fx-el_topleft-active_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topleft-active_reverse 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_topleft-active_reverse 1.6s 1 ease-in-out;
}

#el-topright.active_reverse {
  animation: fx-el_topright-active_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topright-active_reverse 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_topright-active_reverse 1.6s 1 ease-in-out;
}


/*********************************************************
.nav-el.inactive reverse
**********************************************************
Top prevent a bug on IE10 (the button jumps during anim), 
use translate instead of translate3d for the first move.
*********************************************************/
@keyframes fx-el_topleft-inactive_reverse {
  0% {
    transform: translate(5.5%, 5.5%);
    color: white;;
  }

  67% {
    transform: translate(5.5%, 5.5%);
    color: white;;
  }

  100% {
    transform: translate3d(0, 0, 0);
    
  }
}

@keyframes fx-el_topright-inactive_reverse {
  0% {
    transform: translate(-5.5%, 5.5%);
    color: white;;
  }

  67% {
    transform: translate(-5.5%, 5.5%);
    color: white;;
  }

  100% {
    transform: translate3d(0, 0, 0);
    
  }
}



@-moz-keyframes fx-el_topleft-inactive_reverse {
  0% {
    -moz-transform: translate3d(5.3%, 5.3%, 0);
    color: white;;
  }

  67% {
    -moz-transform: translate3d(5.3%, 5.3%, 0);
    color: white;;
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
    
  }
}

@-moz-keyframes fx-el_topright-inactive_reverse {
  0% {
    -moz-transform: translate3d(-5.3%, 5.3%, 0);
    color: white;;
  }

  67% {
    -moz-transform: translate3d(-5.3%, 5.3%, 0);
    color: white;;
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
    
  }
}



@-webkit-keyframes fx-el_topleft-inactive_reverse {
  0% {
    -webkit-transform: translate3d(5.3%, 5.3%, 0);
    color: white;;
  }

  67% {
    -webkit-transform: translate3d(5.3%, 5.3%, 0);
    color: white;;
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
    
  }
}

@-webkit-keyframes fx-el_topright-inactive_reverse {
  0% {
    -webkit-transform: translate3d(-5.3%, 5.3%, 0);
    color: white;;
  }

  67% {
    -webkit-transform: translate3d(-5.3%, 5.3%, 0);
    color: white;;
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
    
  }
}



#el-topleft.inactive_reverse {
  animation: fx-el_topleft-inactive_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topleft-inactive_reverse 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_topleft-inactive_reverse 1.6s 1 ease-in-out;
}

#el-topright.inactive_reverse {
  animation: fx-el_topright-inactive_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topright-inactive_reverse 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_topright-inactive_reverse 1.6s 1 ease-in-out;
}


/******************************
.overlay anim
******************************/
@keyframes fx-overlay {
  0% {
    visibility: visible;
    color: white;
  }

  50% {
   
    color: white;
  }

  100% {
    visibility: visible;
   
    
  }
}

@keyframes fx-overlay-reverse {
  0% {
    visibility: visible;
   
    
  }

  40% {
   
    color: white;
  }

  85% {
    background-color: white;
  }

  100% {
    visibility: invisible;
    color: white;
    background-color: white;
  }
}

@-webkit-keyframes fx-overlay {
  0% {
    visibility: visible;
    color: white;
  }

  50% {
   
    color: white;
  }

  100% {
    visibility: visible;
   
    
  }
}

@-webkit-keyframes fx-overlay-reverse {
  0% {
    visibility: visible;
   
    
  }

  40% {
   
    color: white;
  }

  85% {
    background-color: white;
  }

  100% {
    visibility: invisible;
    color: white;
    background-color: white;
  }
}

@-moz-keyframes fx-overlay {
  0% {
    visibility: visible;
    color: white;
  }

  50% {
   
    color: white;
  }

  100% {
    visibility: visible;
   
    
  }
}

@-moz-keyframes fx-overlay-reverse {
  0% {
    visibility: visible;
   
    
  }

  40% {
   
    color: white;
  }

  85% {
    background-color: white;
  }

  100% {
    visibility: invisible;
    color: white;
    background-color: white;
  }
}

.overlay.active {
  animation: fx-overlay .8s 1.25s 1 ease-in-out forwards;
  -webkit-animation: fx-overlay .8s 1.25s 1 ease-in-out forwards;
  -moz-animation: fx-overlay .8s 1.25s 1 ease-in-out forwards;
}

.overlay.active_reverse {
  animation: fx-overlay-reverse .8s 1 ease-in backwards;
  -webkit-animation: fx-overlay-reverse .8s 1 ease-in backwards;
  -moz-animation: fx-overlay-reverse .8s 1 ease-in backwards;
}