@font-face {
  font-family: 'icomoon';
  src:  url('https://kamezzz.github.io/Auntie/icomoon.eot');
  src:  url('https://kamezzz.github.io/Auntie/icomoon.eot#iefix') format('embedded-opentype'),
    url('https://kamezzz.github.io/Auntie/icomoon.ttf') format('truetype'),
    url('https://kamezzz.github.io/Auntie/icomoon.woff') format('woff'),
    url('https://kamezzz.github.io/Auntie/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
